@model FHIRcastSandbox.Model.ClientModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
    @*<link rel="stylesheet" type="text/css" href="~/css/Style.css" />*@
    <title>View</title>
</head>
<body>
    <h1 align="center">FHIRcast Sandbox</h1>
    <div id="root" class="container-fluid" style="background-color:darkgray;">
        <div style="position:fixed;top:0;left:25%;width:50%; display: none" id="alertPlaceholder">
            <div id="alertMessageDiv" class="alert alert-warning alert-dismissable">
                <a class="close" data-dismiss="alert">×</a>
                <span id="alertText"></span>
            </div>
        </div>
        <div class="row">
            @* Client info column *@
            <div class="col" style="border:1px solid black">
                <h2 align="center">Client info</h2>
                @* Title row *@
                <div class="row">
                    <div class="col-6"><h3 align="center">Subscription info</h3></div>
                    <div class="col-6"><h3 align="center">Context</h3></div>
                </div>
                @* Content row *@
                <div class="row justify-content-md-center">
                    @* Subscription column *@
                    <div class="col-6" style="border:1px solid black;">
                        @* Create new subscriptions form *@
                        <div class="row">
                            <div class="col">
                                <div align="center">
                                    <fieldset class="SubscriptionFieldSet">
                                        @{
                                            using (Html.BeginForm("subscribe", "WebSubClient", FormMethod.Post, new { id = "subscribe" }))
                                            {
                                                <label>Hub url</label>
                                                <br />
                                                <div>
                                                    <input type="text" name="subscriptionUrl" id="subscriptionUrl" placeholder="http://localhost:5000/api/hub" class="form-control" />
                                                    <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#hubSettings">
                                                        <span class="glyphicon glyphicon-collapse-down"></span> Hub Settings
                                                    </button>
                                                    <div class="row collapse" id="hubSettings">
                                                        Http Headers
                                                        <table id="tblHttpHeaders" class="table table-bordered"></table>
                                                        <div class="col">
                                                            <button type="button" class="btn" onclick="addHttpHeader()">Add HTTP Header</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label>Topic</label>
                                                <br />
                                                <div>
                                                    <input type="text" name="topic" id="subscriptionTopic" class="form-control" />
                                                </div>
                                                <label>Events</label>
                                                <br />
                                                <div>
                                                    <input type="checkbox" name="chkOpenPatient" id="chkOpenPatient" value="open-patient-chart" />Open Patient
                                                    <input type="checkbox" name="chkClosePatient" id="chkClosePatient" value="close-patient-chart" />Close Patient
                                                    <input type="checkbox" name="chkOpenStudy" id="chkOpenStudy" value="open-imaging-study" />Open Study
                                                    <input type="checkbox" name="chkCloseStudy" id="chkCloseStudy" value="close-imaging-study" />Close Study
                                                    <input type="text" name="events" id="events" class="form-control" />
                                                </div>

                                                <br />

                                                <div class="row">
                                                    <div class="col"><input type="submit" value="Subscribe" class="btn btn-secondary" /></div>
                                                </div>
                                            }
                                        }
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        @* Table of active subscriptions *@
                        <div class="row">
                            <div class="col">
                                <div align="center" class="table-responsive">
                                    <fieldset class="SubscriptionsTable">
                                        <table id="clientsSubscriptionTable" class="table table-striped table-bordered table-dark">
                                            <thead class="thead-dark">
                                                <tr><td colspan="4" align="center">Client's Subscriptions</td></tr>
                                                <tr>
                                                    <td>Hub URL</td>
                                                    <td>Topic</td>
                                                    <td>Events</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <br />
                                        <table id="clientsSubscribersTable" class="table table-striped table-bordered table-dark">
                                            <thead class="thead-dark">
                                                <tr><td colspan="4" align="center">Client's Subscribers</td></tr>
                                                <tr>
                                                    <td>Callback URL</td>
                                                    <td>Topic</td>
                                                    <td>Events</td>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* User session column *@
                    <div class="col-md-6" style="border:1px solid black">
                        <div align="center">
                            <fieldset class="UserSessionFieldSet">
                                @{
                                    using (Html.BeginForm("update", "WebSubClient", FormMethod.Post, new { id = "update" }))
                                    {
                                        <div class="row" align="center">
                                            <div class="col" id="contextFields">
                                                @* Patient fields *@
                                                <div class="row">
                                                    <div class="col">
                                                        <h3>Patient</h3>
                                                        <label>Patient ID</label>
                                                        <input type="text" id="patientID" class="form-control" />
                                                        <br />
                                                    </div>
                                                </div>

                                                @* Study fields *@
                                                <div class="row">
                                                    <div class="col">
                                                        <h3>ImagingStudy</h3>
                                                        <label>Accession Number</label>
                                                        <input type="text" id="accessionNumber" class="form-control" />
                                                        <br />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Topic</label>
                                                        <input type="text" id="topic" class="form-control" readonly />
                                                        <br />
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Event</label>
                                                        <input type="text" id="event" class="form-control" />
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <input type="submit" value="Update" class="btn btn-secondary" />
                                        </div>
                                    }
                                }
                            </fieldset>
                        </div>
                    </div>
                </div>
                @* Miscellaneous row *@
                <div class="row">
                    <div class="col-12">
                        <div align="center">
                            @{
                                using (Html.BeginForm("Refresh", "WebSubClient", FormMethod.Post))
                                {
                                    <div class="form-group">
                                        <input type="submit" value="Refresh" class="btn btn-primary" />
                                    </div>
                                }
                            }
                            <div class="form-group">
                                <input type="button" value="Connect" id="connect" onclick="connectSocket()" class="btn btn-secondary" />
                                <input type="button" value="Send" id="send" onclick="sendSocketMessage()" class="btn btn-secondary" />
                                <input type="button" value="Close" id="close" onclick="closeSocket()" class="btn btn-secondary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @* Hub info column *@
            <div class="col" style="border:1px solid black">
                <h2 align="center">Hub info</h2>
                @* Hub subscriptions row *@
                <div class="row">
                    <div class="col" style="border:1px solid black">
                        <fieldset class="SubscriptionsTable">
                            <table id="subsToHubTable" class="table table-striped table-bordered table-dark">
                                <thead class="thead-dark">
                                    <tr><td colspan="4" align="center">Subscriptions to Hub</td></tr>
                                    <tr>
                                        <td>Callback URL</td>
                                        <td>Topic</td>
                                        <td>Events</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@if (Model.SubscriptionsToHub != null)
                                    {
                                        @foreach (var item in Model.SubscriptionsToHub)
                                        {
                                            <tr>
                                                <td>@item.Callback.ToString().Substring(0, item.Callback.ToString().LastIndexOf('/'))/{subscriptionId}</td>
                                                <td>@item.Topic</td>
                                                <td>@String.Join(",", item.Events)</td>
                                            </tr>
                                        }
                                    }*@
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
